@page "/"
@using LUMI.DataAccess.Movies
@rendermode InteractiveServer

<title>LUMI - Головна</title>

<header class="top-bar">
    <div class="search-bar">
        <input type="text" placeholder="Пошук">
        <i class="icon-search"></i>
    </div>
    <div class="user-actions">
        <div class="user-avatar" onclick="window.location='/admin'"></div>
    </div>
</header>
<section class="featured-content"
         style="background-image: url('@futuredMovie.LargePoster');">
    <div class="featured-info">
        <div class="featured-tags">
            @if (futuredMovie.Tags?.Count != 0 && futuredMovie.Tags != null) {
                @foreach (var tag in futuredMovie.Tags) {
                    <span class="tag">@tag.Trim()</span>
                }
            }
        </div>
        <h1 class="featured-title">@futuredMovie.Title</h1>
        <p class="featured-description">
            @futuredMovie.Description
        </p>
        <div class="featured-actions">
            <div class="featured-actions">
                <button onclick="window.location.href = '/movie/id=@futuredMovie.ID'"
                        class="btn btn-icon"><i class="icon-play"></i> Дивитись</button>
            </div>
        </div>
    </div>
</section>
<section class="recommended">
    <h2>Фільми</h2>
    <div class="movie-grid" style="margin-top: 20px">
        @if (movies.Count != 0) {
            @foreach (var movie in movies) {
                <div class="movie-card">
                    <div class="movie-thumbnail" onclick="window.location = '/movie/id=@movie.ID'"
                         style="background-image: url('@movie.Poster');"></div>
                    <div class="movie-info">
                        <div class="movie-tags">
                            <span class="tag">@movie.Tags.FirstOrDefault().Trim()</span>
                        </div>
                    </div>
                    <h3 class="movie-title">@movie.Title</h3>
                </div>
            }   
        }
        else {
            <h3 style="color: var(--hover-color);">Фільми не знайдено</h3>
        }
    </div>
</section>


@code {
    public static List<LUMI.Models.Movie?> movies = new ();
    LUMI.Models.Movie? futuredMovie = new();

    protected override async Task OnInitializedAsync() {
        try {
            movies = await MoviesDBContext.GetMoviesAsync();
            futuredMovie = movies
                .OrderByDescending(movie => movie.CreatedAt.ToShortDateString())
                .ToList()
                .FirstOrDefault();
        }
        catch (Exception e) {
            Console.WriteLine(e);
        }
    }
}
